@import 'variables.scss';

.about {
  background-color: white;
  color: $shadow;

  p {
    color: $shadow;
  }

  .header {
    font-family: $font-head;
    color: $dark-stone;
  }

  .image {
    img {
      max-width: 100%;
    }
    width: 30%;
    float: left;
  }

  .about-content {
    padding: 0 3em;
    width: 70%;
    float: right;
  }

  img {
    width: 7em;
    margin-right: 10px;
    border-radius: 20px;
  }

  span {
    font-size: 0.6em;
    color: $mist;
  }


}
