@import 'variables.scss';

.about {
  background-color: white;
  color: $shadow;

  p {
    color: $shadow;
  }

  .header {
    font-family: $font-head;
  }

  .image {
    img {
      max-width: 100%;
    }
    width: 30%;
    float: left;
  }

  .about-content {
    padding: 0 3em;
    width: 70%;
    float: right;
  }

}
