@import 'variables.scss';

.page-footer { background-color: $stone !important;}

.footer-copyright {
  background-color: $dark-stone !important;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
